extends layout.pug
block page-title
  title Spokane Economic Dashboard | Home
block page-name
  h1.page-name Home
block content
  img(src="./images/SeniorDesign.jpeg", alt="Group photo" id='group-photo')
  h2 Summary 
  p 
  | Create an on-line tool that will use a series of economic indicators to provide a snapshot of the economy. 
  | The project will present the data in a usable manner and automate the processes to update the data.
  h2 Description 
  p
  | Our group is looking to develop a web based tool that utilizes a series of economic indicators to provide a 
  | snapshot of the local economy and Spokane is performing on overall economic performance, resiliency, equity 
  | and inclusivity. We have a seperate project to identify these indicators and where these 
  | indicators can be found. Our project is to take this data and present it in a way that is easily digestible. 
  | The project will also seek to automate the data entry as much as possible, identifying the cycle that data 
  | may be updated from sources and posted on-line and then incorporated into the dashboard.
