extends auth_layout.pug
block page-title
  title Spokane Ecomomic Dashboard | Authorized User Page
block style-sheet
  link(rel='stylesheet' type="text/css" href="css/auth_style.css")
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="javascripts/update.js")
block content
    div#button-container
      h2(class="title") Update API Data
      label(for="year", class="inputLabels") Year
      br
      input#API-year-input(type="number", name="year")
      br
      br
      button#updateButton(class="update") UPDATE
      br
      p This will update Median Housing Cost, Median Rent, LaborForce, LaborForce Participation Rate, Employment and Unemployment.
      br

    div#update-table-container
      h1 Manual Indicator Update
      table#update-table
        tr
          td
            div#Median-Household
              h2(class="title") Median Household Income
              label(for="year", class="inputLabels") Year
              br
              input#median-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#median-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="median-state", class="inputLabels") State Code
              br
              select#median-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="median-value", class="inputLabels") Value
              br
              input#median-value-input(type="number", name="value", class="input")
              br
              button#MedianButton(class="update", class="inputLabels") UPDATE
          td
            div#Laborforce
              h2(class="title") Laborforce
              label(for="year", class="inputLabels") Year
              br
              input#labor-year-input(type="text", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#labor-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="laborforce-state", class="inputLabels") State Code
              br
              select#labor-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="laborforce-value", class="inputLabels") Value
              br
              input#labor-value-input(type="number", name="value", class="input")
              br
              button#LaborforceButton(class="update") UPDATE
          td 
            div#Housing-Affordability
              h2(class="title") Median Housing Cost
              label(for="year", class="inputLabels") Year
              br
              input#price-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#price-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="affordability-state", class="inputLabels") State Code
              br
              select#price-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="affordability-value", class="inputLabels") Value
              br
              input#price-value-input(type="number", name="value", class="input")
              br
              button#PriceButton(class="update", class="inputLabels") UPDATE
          td
            div#Laborforce-Participation
              h2(class="title") Laborforce Participation
              label(for="year", class="inputLabels") Year
              br
              input#participation-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#participation-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="laborforce-state", class="inputLabels") State Code
              br
              select#participation-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="laborforceParticipation-value", class="inputLabels") Value
              br
              input#participation-value-input(type="number", name="value", class="input")
              br
              button#ParticipationButton(class="update") UPDATE
        tr
          td
            div#Education
              h2(class="title") High School or Higher
              label(for="year", class="inputLabels") Year
              br
              input#education-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#education-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="index-state", class="inputLabels") State Code
              br
              select#education-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="index-value", class="inputLabels") Value
              br
              input#education-value-input(type="number", name="value", class="input")
              br
              button#EducationButton(class="update") UPDATE
          td
            div#Employed
              h2(class="title") Employed Persons
              label(for="year", class="inputLabels") Year
              br
              input#employed-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#employed-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="state", class="inputLabels") State Code
              br
              select#employed-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="value", class="inputLabels") Value
              br
              input#employed-value-input(type="number", name="value", class="input")
              br
              button#EmployedButton(class="update") UPDATE
          td
            div#Unemployed 
              h2(class="title") Unemployed Persons
              label(for="year", class="inputLabels") Year
              br
              input#unemployed-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#unemployed-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="state", class="inputLabels") State Code
              br
              select#unemployed-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="value", class="inputLabels") Value
              br
              input#unemployed-value-input(type="number", name="value", class="input")
              br
              button#UnemployedButton(class="update") UPDATE
          td
            div#NaturalChange 
              h2(class="title") Natural Change
              label(for="year", class="inputLabels") Year
              br
              input#change-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#change-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="state", class="inputLabels") State Code
              br
              select#migration-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="value", class="inputLabels") Value
              br
              input#change-value-input(type="number", name="value", class="input")
              br
              button#ChangeButton(class="update") UPDATE
        tr
          td
          td
            div#netDomesticMigration 
              h2(class="title") Net Domestic Migration
              label(for="year", class="inputLabels") Year
              br
              input#migration-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#migration-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="state", class="inputLabels") State Code
              br
              select#migration-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="value", class="inputLabels") Value
              br
              input#migration-value-input(type="number", name="value", class="input")
              br
              button#MigrationButton(class="update") UPDATE
          td
            div#averageRent 
              h2(class="title") Average Rent
              label(for="year", class="inputLabelss") Year
              br
              input#rent-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              select#rent-county-input(name= "county", class="input")
                option(value="Spokane") Spokane
                option(value="Boise") Boise
                option(value="Salt Lake City") Salt Lake City
                option(value="Eugene") Eugene
                option(value="Fort Collins") Fort Collins
              br
              label(for="state", class="inputLabels") State Code
              br
              select#rent-state-input(name= "state", class="input")
                option(value="WA") WA
                option(value="ID") ID
                option(value="UT") UT
                option(value="OR") OR
                option(value="CO") CO
              br
              label(for="value", class="inputLabels") Value
              br
              input#rent-value-input(type="number", name="value", class="input")
              br
              button#RentButton(class="update") UPDATE
      div#output-container
      h1 Output
      textarea#response-window(readonly) 
