extends auth_layout.pug
block page-title
  title Spokane Ecomomic Dashboard | Authorized User Page
block style-sheet
  link(rel='stylesheet' type="text/css" href="css/auth_style.css")
block scripts
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="javascripts/update.js")
block content
    div#button-container
      h2(class="title") Update API Data
      label(for="year", class="inputLabels") Year
      input#API-year-input(type="number", name="year")
      br
      button#updateButton(class="update") UPDATE
    div#update-table-container
      h1 Manual Indicator Update
      table#update-table
        tr
          td
            div#Median-Household
              h2(class="title") Median Household Income
              label(for="year", class="inputLabels") Year
              br
              input#median-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#median-county-input(type="text", name="county", class="input")
              br
              label(for="median-state", class="inputLabels") State Code
              br
              input#median-state-input(type="text", name="state", class="input")
              br
              label(for="median-value", class="inputLabels") Value
              br
              input#median-value-input(type="number", name="value", class="input")
              br
              button#MedianButton(class="update", class="inputLabels") UPDATE
          td
            div#Laborforce
              h2(class="title") Laborforce
              label(for="year", class="inputLabels") Year
              br
              input#labor-year-input(type="text", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#labor-county-input(type="text", name="county", class="input")
              br
              label(for="laborforce-state", class="inputLabels") State Code
              br
              input#labor-state-input(type="text", name="state", class="input")
              br
              label(for="laborforce-value", class="inputLabels") Value
              br
              input#labor-value-input(type="number", name="value", class="input")
              br
              button#LaborforceButton(class="update") UPDATE
          td 
            div#Housing-Affordability
              h2(class="title") Median Housing Cost
              label(for="year", class="inputLabels") Year
              br
              input#price-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#price-county-input(type="text", name="county", class="input")
              br
              label(for="affordability-state", class="inputLabels") State Code
              br
              input#price-state-input(type="text", name="state", class="input")
              br
              label(for="affordability-value", class="inputLabels") Value
              br
              input#price-value-input(type="number", name="value", class="input")
              br
              button#PriceButton(class="update", class="inputLabels") UPDATE
          td
            div#Laborforce-Participation
              h2(class="title") Laborforce Participation
              label(for="year", class="inputLabels") Year
              br
              input#participation-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#participation-county-input(type="text", name="county", class="input")
              br
              label(for="laborforce-state", class="inputLabels") State Code
              br
              input#participation-state-input(type="text", name="state", class="input")
              br
              label(for="laborforceParticipation-value", class="inputLabels") Value
              br
              input#participation-value-input(type="number", name="value", class="input")
              br
              button#ParticipationButton(class="update") UPDATE
        tr
          td
            div#Housing-Index
                h2(class="title") Housing Index
                label(for="year", class="inputLabels") Year
                br
                input#index-year-input(type="number", name="year", class="input")
                br
                label(for="county", class="inputLabels") County
                br
                input#index-county-input(type="text", name="county", class="input")
                br
                label(for="index-state", class="inputLabels") State Code
                br
                input#index-state-input(type="text", name="state", class="input")
                br
                label(for="index-value", class="inputLabels") Value
                br
                input#index-value-input(type="number", name="value", class="input")
                br
                button#IndexButton(class="update") UPDATE
          td
            div#Employed
              h2(class="title") Employed Persons
              label(for="year", class="inputLabels") Year
              br
              input#employed-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#employed-county-input(type="text", name="county", class="input")
              br
              label(for="state", class="inputLabels") State Code
              br
              input#employed-state-input(type="text", name="state", class="input")
              br
              label(for="value", class="inputLabels") Value
              br
              input#employed-value-input(type="number", name="value", class="input")
              br
              button#EmployedButton(class="update") UPDATE
          td
            div#Unemployed 
              h2(class="title") Unemployed Persons
              label(for="year", class="inputLabels") Year
              br
              input#unemployed-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#unemployed-county-input(type="text", name="county", class="input")
              br
              label(for="state", class="inputLabels") State Code
              br
              input#unemployed-state-input(type="text", name="state", class="input")
              br
              label(for="value", class="inputLabels") Value
              br
              input#unemployed-value-input(type="number", name="value", class="input")
              br
              button#UnemployedButton(class="update") UPDATE
          td
            div#NaturalChange 
              h2(class="title") Natural Change
              label(for="year", class="inputLabels") Year
              br
              input#change-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#change-county-input(type="text", name="county", class="input")
              br
              label(for="state", class="inputLabels") State Code
              br
              input#change-state-input(type="text", name="state", class="input")
              br
              label(for="value", class="inputLabels") Value
              br
              input#change-value-input(type="number", name="value", class="input")
              br
              button#ChangeButton(class="update") UPDATE
        tr
          td
          td
            div#netDomesticMigration 
              h2(class="title") Net Domestic Migration
              label(for="year", class="inputLabels") Year
              br
              input#migration-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#migration-county-input(type="text", name="county", class="input")
              br
              label(for="state", class="inputLabels") State Code
              br
              input#migration-state-input(type="text", name="state", class="input")
              br
              label(for="value", class="inputLabels") Value
              br
              input#migration-value-input(type="number", name="value", class="input")
              br
              button#MigrationButton(class="update") UPDATE
          td
            div#averageRent 
              h2(class="title") Average Rent
              label(for="year", class="inputLabelss") Year
              br
              input#rent-year-input(type="number", name="year", class="input")
              br
              label(for="county", class="inputLabels") County
              br
              input#rent-county-input(type="text", name="county", class="input")
              br
              label(for="state", class="inputLabels") State Code
              br
              input#rent-state-input(type="text", name="state", class="input")
              br
              label(for="value", class="inputLabels") Value
              br
              input#rent-value-input(type="number", name="value", class="input")
              br
              button#RentButton(class="update") UPDATE
      div#output-container
      h1 Output
      textarea#response-window(readonly) 
