doctype html
html(lang="en")
  head
    title Spokane Economic Dashboard | Change Password
    meta(name="description", content="Password Change Page")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type="text/css" href="css/login.css")
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  body
    div#login-window
      h1 Change Password
      div#input-container
        p.error-msg.hide
        form(action="/change/password", method="post") 
          table#input-grid
            tr
              td.input-grid-label
                label(for="email") Email
              td.input-grid-field
                input.text-field(type="text" id="email" name="email" required)
          div#button-container
            input(type="submit" id="change" name="change" value="change")
            button#back Back to Login