extends layout.pug
block page-title
    title Spokane Economic Dashboard | Dashboard
block style-sheet
    link(rel='stylesheet' type="text/css" href='../css/style.css')
    link(rel='stylesheet' type="text/css" href='../css/theme.css')
    link(rel='stylesheet' type="text/css" href='../css/dashboard.css')
    link(rel='stylesheet' type="text/css" href='../css/rangeslider.css')
block scripts 
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.1/nouislider.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js") 
    script(type="module" src="../javascripts/dashboard-utils.js" defer)
block page-name
    //- h1.page-name Economic Indicator Dashboard
block content
    br 
    .dashboard
        .dashboard-body
            #housing.category-snapshot-view
                h2 Housing
                .category-flex-container
                    #mhc-card.card
                        .card-header
                            h3 Median Housing Cost
                            p#mhc-stat.stat   
                        .chart-container
                            canvas#mhc.chart-canvas
                        .more-info-button
                            button#mhc-button.button More info
                    #mmr-card.card
                        .card-header
                            h3 Median Monthly Rent
                            p#mmr-stat.stat   
                        .chart-container
                            canvas#mmr
                        .more-info-button
                            button#mmr-button.button More info
            #mhc-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Median Housing Cost
                    p#mhc-description
                    p#mhc-note.note
                    a#mhc-link.link   Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#mhc-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#mhc-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#mhc-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#mhc-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#mhc-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #mhc-range-slider.range-slider
                        br 
                        br                            
                        #mhc-slider.slider
                    p 
                    br
                .detailed-view-half
                    .detail-chart-container
                        canvas#mhc-detailed-chart-canvas
                    br
            #mmr-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Median Monthly Rent
                    p#mmr-description
                    p#mmr-note.note
                    a#mmr-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#mmr-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#mmr-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#mmr-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#mmr-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#mmr-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #mmr-range-slider.range-slider
                        br 
                        br                            
                        #mmr-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#mmr-detailed-chart-canvas
                    br
            #labor.category-snapshot-view
                h2 Labor Force
                .category-flex-container 
                    #lft-card.card
                        .card-header
                            h3 Labor Force Total
                            p#lft-stat.stat   
                        .chart-container
                            canvas#lft
                        .more-info-button
                            button#lft-button.button More info
                    #lfs-card.card.non-line
                        .card-header
                            h3 Employment and Unemployment 
                            p#lfs-stat.stat
                            //- p#emp-stat.stat
                            //- p#uep-stat.stat
                        .chart-container
                            canvas#lfs
                        .more-info-button
                            button#emp-button.button.lfs-button Employment Info
                            span    
                            button#uep-button.button.lfs-button Unemployment Info 
                    #lfp-card.card
                        .card-header
                            h3 Labor Force Participation Rate
                            p#lfp-stat.stat   
                        .chart-container
                            canvas#lfp
                        .more-info-button
                            button#lfp-button.button More info
            #lft-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Labor Force Total
                    p#lft-description
                    p#lft-note.note
                    a#lft-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#lft-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#lft-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#lft-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#lft-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#lft-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #lft-range-slider.range-slider
                        br 
                        br                            
                        #lft-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#lft-detailed-chart-canvas
                    br
            #emp-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Employment
                    p#emp-description
                    p#emp-note.note
                    a#emp-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#emp-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#emp-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#emp-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#emp-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#emp-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #emp-range-slider.range-slider
                        br 
                        br                            
                        #emp-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#emp-detailed-chart-canvas
                    br
            #uep-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Unemployment
                    p#uep-description
                    p#uep-note.note
                    a#uep-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#uep-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#uep-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#uep-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#uep-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#uep-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #uep-range-slider.range-slider
                        br 
                        br                            
                        #uep-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#uep-detailed-chart-canvas
                    br
            #lfp-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Labor Force Participation Rate
                    p#lfp-description
                    p#lfp-note.note
                    a#lfp-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#lfp-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#lfp-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#lfp-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#lfp-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#lfp-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #lfp-range-slider.range-slider
                        br 
                        br                            
                        #lfp-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#lfp-detailed-chart-canvas
                    br
            #population-drivers.category-snapshot-view
                h2 Population Drivers
                .category-flex-container 
                    #ntc-card.card
                        .card-header
                            h3 Natural Change
                            p#ntc-stat.stat   
                        .chart-container
                            canvas#ntc
                        .more-info-button
                            button#ntc-button.button More info
                    #ndm-card.card
                        .card-header
                            h3 Net Domestic Migration 
                            p#ndm-stat.stat   
                        .chart-container
                            canvas#ndm
                        .more-info-button
                            button#ndm-button.button More info
            #ntc-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Natural Change
                    p#ntc-description
                    p#ntc-note.note
                    a#ntc-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#ntc-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#ntc-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#ntc-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#ntc-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#ntc-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #ntc-range-slider.range-slider
                        br 
                        br                            
                        #ntc-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#ntc-detailed-chart-canvas
                    br
            #ndm-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Net Domestic Migration
                    p#ndm-description
                    p#ndm-note.note
                    a#ndm-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#ndm-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#ndm-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#ndm-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#ndm-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#ndm-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #ndm-range-slider.range-slider
                        br 
                        br                            
                        #ndm-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#ndm-detailed-chart-canvas
                    br
            #other.category-snapshot-view
                h2 Other
                .category-flex-container 
                    #mhi-card.card
                        .card-header
                            h3 Median Household Income
                            p#mhi-stat.stat   
                        .chart-container
                            canvas#mhi
                        .more-info-button
                            button#mhi-button.button More info
                    #hsg-card.card
                        .card-header
                            h3 High School Graduates
                            p#hsg-stat.stat   
                        .chart-container
                            canvas#hsg
                        .more-info-button
                            button#hsg-button.button More info
            #mhi-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 Median Household Income
                    p#mhi-description
                    p#mhi-note.note
                    a#mhi-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#mhi-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#mhi-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#mhi-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#mhi-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#mhi-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #mhi-range-slider.range-slider
                        br 
                        br                            
                        #mhi-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#mhi-detailed-chart-canvas
                    br
            #hsg-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 High School Graduates
                    p#hsg-description
                    p#hsg-note.note
                    a#hsg-link.link  Data source link
                    hr
                    h5 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#hsg-spokane-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.spokane-checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#hsg-boise-checkbox.checkbox(type="checkbox" checked)
                            span.checkmark.boise-checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#hsg-saltlakecity-checkbox.checkbox(type="checkbox")
                            span.checkmark.saltlakecity-checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#hsg-eugene-checkbox.checkbox(type="checkbox")
                            span.checkmark.eugene-checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#hsg-fortcollins-checkbox.checkbox(type="checkbox")
                            span.checkmark.fortcollins-checkmark
                    h5 Time Range
                    #hsg-range-slider.range-slider
                        br 
                        br                            
                        #hsg-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#hsg-detailed-chart-canvas
                    br
