extends layout.pug
block page-title
    title Spokane Economic Dashboard | Dashboard
block style-sheet
    link(rel='stylesheet' type="text/css" href='../css/style.css')
    link(rel='stylesheet' type="text/css" href='../css/theme.css')
    link(rel='stylesheet' type="text/css" href='../css/dashboard.css')
    link(rel='stylesheet' type="text/css" href='../css/rangeslider.css')
block scripts 
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.1/nouislider.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/wnumb/1.2.0/wNumb.min.js") 
    script(type="module" src="../javascripts/dashboard-utils.js" defer)
block page-name
    //- h1.page-name Economic Indicator Dashboard
block content
    br 
    .dashboard
        .dashboard-body
            #housing.category-snapshot-view
                h2 Housing
                .category-flex-container.flex-container-third
                    #mhc-card.card.flex-item-third-first
                        .card-header
                            h3 Median Housing Cost
                            p#mhc-stat.stat Increased between 2018 and 2019.
                        .chart-container
                            canvas#mhc
                        .more-info-button
                            button#mhc-button.button More info
                    #mmr-card.card
                        .card-header
                            h3 Median Monthly Rent
                            p#mmr-stat.stat Short metric about indicator performance
                        .chart-container
                            canvas#mmr
                        .more-info-button
                            button#mmr-button.button More info
                    #hai-card.card
                        .card-header
                            h3 Housing Affordability Index
                            p#hai-stat.stat Short metric about indicator performance
                        .chart-container
                            canvas#hai
                        .more-info-button
                            button#hai-button.button More info
            #mhc-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#mhc-description
                    h4 Data source notes
                    p#mhc-about
                    a#mhc-link(href="#" style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#mhc-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#mhc-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#mhc-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#mhc-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#mhc-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #mhc-range-slider.range-slider
                        br 
                        br                            
                        #mhc-slider.slider
                    p 
                    br
                .detailed-view-half
                    .detail-chart-container
                        canvas#mhc-detailed-chart-canvas
                    br
            #mmr-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#mmr-description
                    h4 Data source notes
                    p#mmr-about
                    a#mmr-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#mmr-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#mmr-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#mmr-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#mmr-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#mmr-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #mmr-range-slider.range-slider
                        br 
                        br                            
                        #mmr-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#mhc-detailed-chart-canvas
                    br
            #hai-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#hai-description
                    h4 Data source notes
                    p#hai-about
                    a#hai-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#hai-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#hai-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#hai-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#hai-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#hai-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #hai-range-slider.range-slider
                        br 
                        br                            
                        #hai-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#hai-detailed-chart-canvas
                    br
            #labor.category-snapshot-view
                h2 Labor Force
                .category-flex-container 
                    #lft-card.card
                        .card-header
                            h3 Labor Force Total
                            p#lft-stat.stat Short metric about indicator performance
                        .chart-container
                            canvas#lft
                        .more-info-button
                            button#lft-button.button More info
                    #lfs-card.card.non-line
                        .card-header
                            //- h3 Labor Force 
                            //- p#lfs-stat.stat Increased between 2018 and 2019.
                        .chart-container
                            canvas#lfs
                        .more-info-button
                            button#lfs-button.button More info
                    #lfp-card.card
                        .card-header
                            h3 Labor Force Participation Rate
                            p#lfp-stat.stat Increased between 2018 and 2019.
                        .chart-container
                            canvas#lfp
                        .more-info-button
                            button#lfp-button.button More info
            #lft-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#lft-description
                    h4 Data source notes
                    p#lft-about
                    a#lft-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#lft-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#lft-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#lft-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#lft-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#lft-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #lft-range-slider.range-slider
                        br 
                        br                            
                        #lft-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#lft-detailed-chart-canvas
                    br
            #lfs-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#lfs-description
                    h4 Data source notes
                    p#lfs-about
                    a#lfs-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#lfs-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#lfs-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#lfs-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#lfs-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#lfs-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #lfs-range-slider.range-slider
                        br 
                        br                            
                        #lfs-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#lfs-detailed-chart-canvas
                    br
            #lfp-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#lfp-description
                    h4 Data source notes
                    p#lfp-about
                    a#lfp-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#lfp-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#lfp-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#lfp-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#lfp-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#lfp-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #lfp-range-slider.range-slider
                        br 
                        br                            
                        #lfp-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#lfp-detailed-chart-canvas
                    br
            #population-drivers.category-snapshot-view
                h2 Population Drivers
                .category-flex-container 
                    #ntc-card.card
                        .card-header
                            h3 Natural Change
                            p#ntc-stat.stat Short metric about indicator performance
                        .chart-container
                            canvas#ntc
                        .more-info-button
                            button#ntc-button.button More info
                    #ndm-card.card
                        .card-header
                            h3 Net Domestic Migration 
                            p#ndm-stat.stat Increased between 2018 and 2019.
                        .chart-container
                            canvas#ndm
                        .more-info-button
                            button#ndm-button.button More info
            #ntc-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#ntc-description
                    h4 Data source notes
                    p#ntc-about
                    a#ntc-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#ntc-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#ntc-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#ntc-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#ntc-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#ntc-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #ntc-range-slider.range-slider
                        br 
                        br                            
                        #ntc-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#ntc-detailed-chart-canvas
                    br
            #ndm-detailed-view.detailed-view-card

                .detailed-view-half
                    h4 About
                    p#ndm-description
                    h4 Data source notes
                    p#ndm-about
                    a#ndm-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#ndm-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#ndm-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#ndm-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#ndm-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#ndm-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #ndm-range-slider.range-slider
                        br 
                        br                            
                        #ndm-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#ndm-detailed-chart-canvas
                    br
            #population-drivers.category-snapshot-view
                h2 Income
                .category-flex-container 
                    #mhi-card.card
                        .card-header
                            h3 Median Household Income
                            p#mhi-stat.stat Short metric about indicator performance
                        .chart-container
                            canvas#mhi
                        .more-info-button
                            button#mhi-button.button More info
            #mhi-detailed-view.detailed-view-card
                .detailed-view-half
                    h4 About
                    p#mhi-description
                    h4 Data source notes
                    p#mhi-about
                    a#mhi-link(style="color:blue;") Data source
                    h4 Comparison Counties
                    .checkboxs
                        label.checkbox-container Spokane, WA 
                            span.county-label (Spokane County)
                            input#mhi-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Boise, ID 
                            span.county-label (Ada County)
                            input#mhi-spokane-checkbox(type="checkbox" checked)
                            span.checkmark
                        label.checkbox-container Salt Lake City, UT 
                            span.county-label (Salt Lake County)
                            input#mhi-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Eugene, OR 
                            span.county-label (Lane County)
                            input#mhi-spokane-checkbox(type="checkbox")
                            span.checkmark
                        label.checkbox-container Fort Collins, CO   
                            span.county-label (Larimer County)
                            input#mhi-spokane-checkbox(type="checkbox")
                            span.checkmark
                    h4 Time Range
                    #mhi-range-slider.range-slider
                        br 
                        br                            
                        #mhi-slider.slider
                    p 
                    br
                .detailed-view-half
                    canvas#mhi-detailed-chart-canvas
                    br
            
