doctype html
html(lang="en")
  head
    title Spokane Economic Dashboard | Authorized User Sign-in
    meta(name="description", content="Authorized User Login Page")
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet' type="text/css" href="css/login.css")
    link(rel="shortcut icon" href="images/favicon.ico" type="image/x-icon")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="javascripts/login.js")
  body
    div#login-window
      h1 Authorized User Sign-in
      div#input-container
        p.error-msg.hide
        form(action="/login", method="post") 
          table#input-grid
            tr
              td.input-grid-label
                label(for="username") Username
              td.input-grid-field
                input.text-field(type="text" id="username" name="username" required)
            tr
              td.input-grid-label
                label(for="password") Password
              td.input-grid-field
                input.text-field(type="password" id="password" name="password" required)
          div#button-container
            input(type="submit" id="login" name="login" value="Login")
            button#back Back to Dashboard
          div#navigation-container 
            a(href="/register") Register User
            br
            a(href="/change/password") Forgot Password? 