/* Start Dashboard Specific CSS */

* {
    box-sizing: border-box;
}

.detailed-view-card {
    /* display: none; */
    padding: 0 10px;
    margin: 5px;
    margin-bottom: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
    /* border: 1px solid #ccc; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
    flex: auto;
}

.detailed-view-half {
    flex: 50%;
    padding: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* display: inline-block; */
}

.detail-chart-flex {
    display: flex;
}

.detail-chart-container {
    align-items: center;
    /* height: 250px; */
}

.active,
.card:hover {
  /* box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer; */
}
  
.chart-container {
    /* height: 200px; */
    max-height: 225px;
    /* width: 500px; */
    max-width: 550px;
    position: relative;
}

.dashboard {
    /* border: 1px solid #2f2f2e; */
    margin-left: 10%;
    margin-right: 10%;
    /* font-family: 'Montserrat', Helvetica, sans-serif; */
}

.dashboard h2 {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 6px;
    margin-left: 30%;
    margin-right: 30%;
    border-bottom: 2px solid #D7DC61;
    /* font-size: xx-large; */
    font-size: 2rem;
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.dashboard h3 {
    font-weight: 600;
    color: rgb(68, 68, 68);
}

.indicator-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.chart-container {
  /* height: 200px;
  max-height: 225px;
  width: 500px;
  max-width: 550px; */
  position: relative;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* this adds the "card" effect */
  /* padding: 0px 16px 6px 16px; */
  text-align: center;
  background-color: #f1f1f1;
  /* max-width: 500px; */
  /* flex: 30%; */
  /* flex: auto; */
  /* max-width: 500px; */
  margin: 10px 6px;
  /* width: 600px; */
  max-width: 450px;
  /* min-width: 200px; */
  /* height: 300px; */
  /* max-height: 300px; */
  flex: 33.3%;
}

.category-flex-container {
  /* display: none; */
  margin: 5px;
  /* max-height: 0; */
  /* overflow: hidden; */
  /* transition: max-height 0.2s ease-out; */
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex: 33.3%; */
  border-radius: 5px;
  flex-wrap: wrap;
}

#lfs {
    height: 270px;
    max-height: 270px;
}

.category-snapshot-view {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 10px;
    padding-bottom: 20px;
    text-align: center;
}

.county-label {
    /* font-weight: 300; */
    font-size: smaller;
    font-style: italic;
}

.slider {
    margin-right: 24px;
    margin-left: 20px;
}


/* .checkboxes {
  margin-left: 80px;
} */

.non-line {
    /* padding: 10px;
  margin-left: 0px;
  margin-right: 0px; */
}

.unstyled-button {
    /* border: none;
  padding: 0;
  background: none; */
}


/* custom checkboxes */

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 5px;
    cursor: pointer;
    /* font-size: 22px; */
    user-select: none;
}


/* Hide the browser's default checkbox */

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
    background-color: #ccc;
}


/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: rgb(156, 156, 156);
}


/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
  background-color: #00B4ED;
}


/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}


/* Style the checkmark/indicator */

.checkbox-container .checkmark:after {
    left: 5px;
    top: 3px;
    width: 3px;
    height: 6px;
    /* border: solid white; */
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}