body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #333;
    justify-content: center;
    margin: auto;
}

#login-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -10%;
    background-color: whitesmoke;
    padding: 10px;
    min-height: 45%;
    min-width: 45%;
    max-height: 50%;
    max-width: 65%;
    border: 5px solid #719a45;
}

#login-window h1 {
    margin-bottom: 0px;
    font-size: 48px;
    color: #db6140;
}

#login-window label {
    font-size: 36px;
    padding-right: 5%;
}

#button-container input {
    font-size: 24px;
    margin-top: 10px;
    width: 100%;
    background-color: #719a45
}

#input-container {
    margin-bottom: 15px;
}

#input-grid {
    justify-content: center;
    margin: auto;
}

button {
    font-size: 24px;
    width: 80%;
    padding: 5px;
    margin-bottom: 10px;
}

.text-field {
    resize: horizontal;
    font-size: 20px;
    width: 100%;
    padding-left: 5%;
}

.hide {
    visibility: hidden;
    display: none;
}